[Desktop Entry]
Categories=Application;Office;
Encoding=UTF-8
Name=OVFF Liu IME Translator
Name[zh_TW]=OVFF嘸蝦米翻譯機
Exec=govff
Icon=/usr/share/pixmaps/govff.png
Type=Application
Terminal=false
GenericName=Govff Liu IME Translator
GenericName[zh_TW]=OVFF嘸蝦米翻譯機
Comment=OVFF Liu IME Translator
Comment[zh_TW]=OVFF嘸蝦米翻譯機
